/* header */
.main-header {
  display: flex;
  border: 1px solid black;
  background-color: #242B37;
  color: white;
  font-family: sans-serif;
  padding: 15px;
  padding-left: 50px;
}

.main-header-logo {
  font-size: 30px;
}

/* main content of the app */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EDEEF0;
}

.player-information {
  display: flex;
}

.player-image {
  border: 1px solid black;
}


.player-information-text {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.player-desc-and-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  /* width: 90%; */
}

.player-analysis {
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.form-label {
  margin-right: 15px;
}

.search-bar-and-results {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 2vw;
}

.desc-child {
  background-color: #EDEEF0;
  width: 80%;
}

.btn-primary {
  margin-left: 10px;
}

.suggestions {
  border: 1px solid black;
}

.search-bar {
  /* border: 1px solid black; */
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}


/* team color classes */
.ari {
  background-color: #8B2E40;
}

.atl {
  background-color: #9A2934;
}

.bal {
  background-color: #201B6E;
}

.buf {
  background-color: #B62936;
}

.car {
  background-color: #3684C4;
}

.chi {
  background-color: #0D1629;
}

.cin {
  background-color: #E95C2F;
}

.cle {
  background-color: #EC4E27;
}

.dal {
  background-color: #091E40;
}

.den {
  background-color: #082242;
}

.det {
  background-color: #2F75B1;
}

.gb {
  background-color: #253631;
}

.hou {
  background-color: #0A202E;
}

.ind {
  background-color: #0B2C5C;
}

.jax {
  background-color: #296676;
}

.kc {
  background-color: #D1343E;
}

.lac {
  background-color: #0A2B5B;
}

.lar {
  background-color: #082242;
}

.mia {
  background-color: #3C8C95;
}

.min {
  background-color: #4C3069;
}

.ne {
  background-color: #082242;
}

.no {
  background-color: #D0BC93;
}

.nyg {
  background-color: #0E2361;
}

.nyj {
  background-color: #173E2E;
}

.oak {
  background-color: #A6ACAF;
}

.phi {
  background-color: #1D4B53;
}

.pit {
  background-color: #F5B843;
}

.sf {
  background-color: #9C1E14;
}

.sea {
  background-color: #082242;
}

.tb {
  background-color: #C42B20;
}

.ten {
  background-color: #5794CC;
}

.wsh {
  background-color: #6F3541;
}
