body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EDEEF0;
}

.player-information {
  display: flex;
}

.player-image {
  border: 1px solid black;
}

/* .player-image img {
  height: 200px;
  width: 200px;
} */

.player-information-text {
  border: 1px solid black;
}

.player-desc-and-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.player-analysis {
  border: 1px solid black;
}

.form-label {
  margin-right: 15px;
}

.search-bar-and-results {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 2vw;
}
